<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express Locales</title>
</head>
<body>
    <!-- First translation "Language" -->
    <h1><%= __("Language") %></h1>

    <button class="en">English</button>
    <button class="no">Norsk</button>
    <button class="sr">Srpski</button>

    <!-- Second translation "Hi nice people" -->
    <p><%= __("Hi nice people") %></p>
    <script src="/assets/js/script.js"></script>
</body>
</html>